@import "//fonts.googleapis.com/css?family=Montserrat:300,400,700";

body {
  padding: 2em 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eaf4f4;
}
header,
footer {
  text-align: center;
}
h1,
h2 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495e;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
aside {
  box-sizing: border-box;
  overflow: hidden;
  margin: 1em 1em;
  flex: 0.6;
}

.flex-container > section {
  flex: 2.8;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0.4em;
}
.rwd-table {
  margin: 1em auto;
  min-width: 300px;
  background: #a4c3b2;
  color: #fff;
  border-radius: 0.4em;
  overflow: hidden;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-color: #46627f;
}
tbody > tr:hover {
  background: #444;
  color: #eee;
  /* transform: scale(1.02); */
}

.rwd-table th {
  color: #3b6064;
  margin: 0.5em 1em;
  display: table-cell;
  padding: 1em;
}
.rwd-table td {
  text-align: center;
  margin: 0.5em 1em;
  display: table-cell;
  padding: 1em;
}
.rwd-table td:first-child {
  padding-top: 0.5em;
}
.rwd-table td:last-child {
  padding-bottom: 0.5em;
}

.rwd-table td[data-th="Name"] {
  text-align: left;
}
tr p {
  display: inline-flex;
}
.invalid {
  border-color: #c00000;
  border: 5px solid #ffdddd;
  background-color: #ffdddd;
}
input {
  width: 100%;
  height: 100%;
}
.select {
  width: 100%;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.selected {
  background: #444;
  color: #eee;
  opacity: 0.6;
}

.sortBy:hover {
  background-color: #444;
  opacity: 0.6;
  cursor: pointer;
}
.button,
.addRow,
.loadTable,
.filterButton {
  background-color: #a4c3b2;
  border: 1px solid #3b6064;
  color: #3b6064;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Style the buttons */
.filterButton {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.filterButton:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.filterButton.active {
  background-color: #666;
  color: white;
}
td.hidden,
th.hidden,
td.hidden,
input.hidden,
p.hidden {
  display: none;
}

.noHover {
  pointer-events: none;
}
/*Media Queries*/

@media screen and (max-width: 800px) {
  td[data-th="Age"],
  td[data-th="Personal Best"],
  th[data-th="Age"],
  th[data-th="Personal Best"] {
    display: none;
  }
  .flex-container {
    flex-direction: column;
    max-width: 100vw;
    justify-content: center;
  }

  aside {
    flex: 0.25;
    max-height: 20vh;
  }
  section {
    flex: 3.5;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }
  thead,
  img {
    display: none;
  }

  .rwd-table tr {
    display: block;
    border: 2px solid #444;
  }
  .rwd-table td {
    display: block;
    text-align: justify;
  }
  td[data-th="Age"],
  td[data-th="Personal Best"],
  th[data-th="Age"],
  th[data-th="Personal Best"],
  .filter-container {
    display: none; /*has the same specificity with display block from previous rule, so put it 2nd to hide only the selected table cells*/
  }
  .rwd-table td:first-child {
    padding-top: 0.5em;
  }
  .rwd-table td:last-child {
    padding-bottom: 0.5em;
  }
  .rwd-table td::before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
    text-align: left;
    color: #3b6064;
  }
  .rwd-table tr:hover > td::before {
    color: #c9e4ca;
  }
}
